.idea/
out/
tmp/
*.iml

# Generated tests for hw01
DHM82UixNw3ZlbEfAqItNolDFZKCke
__Test__Walk__/
aM76BKCw4RIgvP5r9DSkfJT7k5XUHB
lyZtWdm91zd6MMWMCHQL6EX318hT2J
mQu1Vs2DBatymPCCTY8fGyiBiLMZCl